<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= image_tag url_for(@post.cover_photo) %>

<p><%= link_to @post.cover_photo.filename, rails_blob_path(@post.cover_photo, disposition: "attachment") %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
